*{
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(20,auto);
    grid-template-rows: repeat(10,auto);
    height: 100vh;
    gap: 5px;
}

.child1{
    background-color: aquamarine;
    grid-column: 1/11;
    grid-row: 1/11;
}

.child2{
    background-color: beige;
    grid-column: 11/21;
    grid-row: 1/6;
}

.child3{
    background-color: blue;
    grid-column: 11/21;
    grid-row: 6/11;
}