*{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;
}

header nav{
    display: flex;
    gap: 40px;
}

header nav ul{
    display: none;
    gap: 30px;
    list-style: none;

}

header nav button{
    display: none;
}

@media screen and (min-width: 768px){
    .bar-icon{
        display: none;
    }

    header nav ul{
    display: flex;

}

    header nav button{
    display: block;
}
}